
<div class="row">
      <table class='table'>
        <thead>
          <tr>
            <th>Comprehensive</th>
            <th>Irrelevant Study</th>
            <th>Not Enough Experiment</th>
            <th>No health Control</th>
            <th>Micro rna</th>
            <th>Biomarker</th>
            <th>Other</th>
          </tr>
        </thead>
        <tbody>
        <tr>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        	<td><%= @arr.shift%></td>
        </tr>
        </tbody>
      </table>
</div>