<div class = "row">
  <h1>Admin</h1>
</div>


<div class = "row">

  <div class = "col-sm-4">
    <h1>Search</h1>
    <div class = row>
      <%= form_tag admins_show_path(), :method => :post do%>
      <%= text_field_tag 'query', 'Enter your search query here' %>
      <%= submit_tag 'Submit', :class => "btn btn-success button_wid"%>
      <% end %>
    </div>
  </div>
  <div class = "col-sm-8">
      <div class="table-responsive">
        <table class = "table">
          <thead>
            <tr>
              <th class = "col-md-2">ID</th>
              <th class = "col-md-4">Disease</th>
              <th class = "col-md-4">Accession</th>
              <th class = "col-md-1">Related#</th>
              <th class = "col-md-1">Unrelated#</th>
            </tr>
          </thead>
          <tbody>
            <%= render @diseases %>
          </tbody>
        </table>
      </div>
  </div>
</div>

<div class = "row">
  <div class = "col-sm-4"> </div>
  <div class = "col-sm-6">
    <%= will_paginate @diseases %>
  </div>
  <div class = "col-sm-2">
    <%= link_to "Configuration", '/config', class: "btn btn-primary center-block" %>
  </div>
</div>
