<li id="disease-<%= disease.id %>">
  <div class = "row">
    <div class = "col-sm-2"><%= disease.id %></div>
    <div class = "col-sm-4"><%= disease.disease %></div>
    <div class = "col-sm-4"><%= disease.accession %></div>
    <div class = "col-sm-1"><%= disease.related %></div>
    <div class = "col-sm-1"><%= disease.unrelated %></div>
  </div>
</li>
