<tr>
  <td><%= disease.id %></td>
  <td><%= disease.disease %></td>
  <td><%= link_to disease.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{disease.accession}/?query=#{disease.disease}", :target => '_blank' %></td>
  <td><%= disease.related + disease.unrelated %></td>
  <td><%= disease.related %></td>
  <td><%= disease.unrelated %></td>
</tr>
