<!-- <h1>Diseases#index</h1>
<p>Find me in app/views/diseases/index.html.erb</p>
 -->
<!-- <div>
<h4>Import data</h4>
	<%= form_tag diseases_import_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
	<% end %>



</div> -->
<% provide(:title, 'Main Page') %>
<h1>Main Page</h1>
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Disease</th>
            <th>DataSet</th>
            <th>Relevant?</th>
            <th>Reason</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <%= form_tag diseases_import_path(:choose => @choose, :reason => @reason), :method => :post do%>
          <% @dis.each do |dis| %>
            <tr>
              <td><%= dis.disease %></td>
              <td><%= dis.accession %></td>
              <td>
              <label><%= radio_button_tag("choose[#{dis.id}]", "1") %>Yes</label>
              <label><%= radio_button_tag("choose[#{dis.id}]", "0") %>No</label>
              </td>
              <td>
              <%= select_tag "reason[#{dis.id}]", options_for_select([ "VISA", "MasterCard" ]) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= submit_tag 'Submit', class: "btn btn-primary"%>
  <% end %>
</div>
</body>
