<!-- <h1>Diseases#index</h1>
<p>Find me in app/views/diseases/index.html.erb</p>
 -->
<!-- <div>
<h4>Import data</h4>
	<%= form_tag diseases_import_path, multipart: true do %>
		<%= file_field_tag :file %>
		<%= submit_tag "Import CSV" %>
	<% end %>
</div> -->
<% provide(:title, 'Main Page') %>
<h1>Main Page</h1>
<!-- <div>
<%= @ass %>
</div> -->
<div class='row'>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <table class='table table-hover'>
        <thead>
          <tr>
            <th>Disease</th>
            <th>DataSet</th>
            <th>Relevant?</th>
            <th>Reason</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
         <%= form_tag diseases_import_path(:yes => @yes, :no => @no), :method => :post do%>
          <% @dis.each do |dis| %>
            <tr>
              <td><%= dis.disease %></td>
              <td><%= dis.accession %></td>
              <td>
				<label><%= check_box_tag "yes[#{dis.disease}]" %>Yes</label>
				<label><%= check_box_tag "no[#{dis.disease}]" %>No</label>
              </td>
              <td>
              	<div class="dropdown">
  					<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Concrete Reason
  					<span class="caret"></span></button>
  					<ul class="dropdown-menu">
    					<li><a href="#">One</a></li>
    					<li><a href="#">Two</a></li>
    					<li><a href="#">Three</a></li>
  					</ul>
				</div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
  <%= submit_tag 'Refresh'%>
  <% end %>
</div>
</body>


