<% provide(:title, 'Main Page') %>

<h1> Questions </h1>
<div class="row">
  <%= form_tag diseases_import_path(:dis => @diseases_this_page), :method => :post do%>
      <table class='table'>
        <thead>
          <tr>
            <th class = "col-md-3">Disease</th>
            <th class = "col-md-3">DataSet</th>
            <th class = "col-md-3">Relevant?</th>
            <th class = "col-md-3">Reason</th>
          </tr>
        </thead>
        <tbody>
          <% @diseases_this_page.each do |dis| %>
            <tr>
              <td><%= dis.disease %></td>
              <td><%= link_to dis.accession, "http://www.ebi.ac.uk/arrayexpress/experiments/#{dis.accession}/?query=#{dis.disease}", :target => '_blank' %></td>
              <td>
                <label><%= radio_button_tag("choose[#{dis.id}]", "1") %>Yes</label>
                <label><%= radio_button_tag("choose[#{dis.id}]", "0") %>No</label>
                <label><%= link_to "clear", "#", class: 'btn btn-default', id: "#{dis.id}"%></label>
              </td>
              <td>
                <%= select_tag "reason[#{dis.id}]", options_for_select([ "Comprehensive", "Irrelevant Study", "Not Enough Experiment", "No health Control", "Micro rna", "Biomarker", "Other" ]) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <%= submit_tag 'Submit', :class => "btn btn-success button_wid"%>
  <% end %>
</div>
