<li id="submission-<%= submission.id %>">
  <!-- <span class="user"><%= link_to submission.user.name, submission.user %></span> -->
  <% if submission.is_related %>
    <div class="colorbox green"></div>
  <% else %>
    <div class="colorbox red"></div>
  <% end %>


  <span class="disease"><%= "#{submission.disease.disease}, #{submission.disease.accession}" %></span>
  <span class="is_related"><%= (submission.is_related)? "Yes" : "No" %></span>
  <span class="timestamp">
    Submitted <%= time_ago_in_words(submission.created_at) %> ago.
  </span>
</li>
