<li id="submission-<%= submission.id %>">
  <!-- <span class="user"><%= link_to submission.user.name, submission.user %></span> -->
  <span class="disease"><%= "[#{submission.disease.disease}, #{submission.disease.accession}]" %></span>
  <span class="is_related"><%= (submission.is_related)?"Yes":"No" %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(submission.created_at) %> ago.
  </span>
</li>
